body {
    background-color: white;
    color: black;
}

@media (max-width: 768px) {
    .nav-buttons {
        flex-direction: column;
        gap: 10px;
    }

    .wrap-title {
        font-size: 28px;
    }
}
